/*begin daily image*/
.daily-image {
  width: 100%;
  height: 35px;
  margin-top:10px;
  background-color: rgb(36, 22, 142);; 
  border-bottom: 3px solid white;
  color: white;
  text-align: left;
}

.daily-image-text{
  padding-left:50px;
  padding-top:5px;
  font-size:18px;
}
.daily-image-img {
  width:  350px;
  height: 200px;
  background-size: cover;
}
/*end daily image*/

.main-contact-us{
  border:1px solid black;
  background-color: rgb(253, 108, 108);
}

body{
  background-image: url('images/background-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.img-full-size{
  width:100%;
  height: 75%;
}